body,
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
.checkBoxClass{
  display:none;
} */

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-image: url("assets/background/litecoin.jpg");
  }

  #titleSpan {
    color: goldenrod;
    font-size: 35px;
  }

  h1 {
    margin: 10px;
    font-family: Aventurina;
    text-align: center;
    font-size: 40px;
    color: rgb(12, 12, 12);
  }
  .card {
    background-color: rgb(240, 223, 77);
    display: inline-block;
    width: 100px;
    margin: 5px;
    height: 100px;

    text-align: center;
    overflow: auto;
  }
  .btn-primary {
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30%;
    background-color: white;
    color: black;
  }

  #image {
    width: 180px;
    height: 250px;
    margin-bottom: 10px;
  }

  #allDetails {
    text-align: left;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-image: url("assets/background/litecoin.jpg");
  }

  #titleSpan {
    color: goldenrod;
    font-size: 40px;
  }
  h1 {
    margin: 10px;
    font-family: Aventurina;
    font-size: 50px;
    color: rgb(12, 12, 12);
  }
  .card {
    background-color: rgb(240, 223, 77);
    display: inline-block;
    width: 150px;
    margin: 5px;
    height: 150px;

    text-align: center;
    overflow: auto;
  }
  .btn-primary {
    border: none;
    color: white;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30%;
    background-color: white;
    color: black;
  }
  #image {
    width: 150px;
    height: 220px;
    margin-bottom: 10px;
  }

  #allDetails {
    text-align: left;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-image: url("assets/background/background.png");
  }
  .card {
    display: inline-block;
    width: 200px;
    margin: 5px;
    height: 200px;

    text-align: left;
    overflow: auto;
    border: 1px solid black;
  }
  #image {
    width: 225px;
    height: 300px;
    margin-bottom: 20px;
  }

  #allDetails {
    text-align: center;
  }

  #titleSpan {
    color: goldenrod;
    font-size: 50px;
  }

  h1 {
    margin: 10px;
    font-family: Aventurina;
    font-size: 60px;
    color: rgb(12, 12, 12);
  }
}

.containerParallax {
  /* The image used */
  background-image: url("assets/background/blockchain.jpeg");

  /* Full height */
  height: 80%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#buttons {
  margin: 10px;
  text-align: center;
}

#container {
  margin: 5px;
}

#loading {
  margin: 0 auto;
  margin-left: 45%;
  margin-right: 45%;
  width: 120px;
  height: 120px;
}

img {
  width: 40px;
  height: 40px;
}



@font-face {
  src: url("assets/fonts/GLADWIN.otf");
  font-family: Aventurina;
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: dimgray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.close {
  color: red;
  font-size: 30px;
}

.modal-title {
  color: darkred;
}
.modal-body {
  align-items: center;
  text-align: center;
  background-image: url("assets/background/background.png");
}
#searchBox {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 200px;
  height: 43px;
  padding: 4px;
 border: 1px solid black;
}
#search {
  display: block;
  text-align: center;
}
#searchButton {
  border:1px solid white;
  padding: 10px;
  border-radius: 25px;
  background: darkgoldenrod;
  color:white;
  font-size: 18px;

}

#searchButton:hover{
  background-color: #3498db;
  cursor:pointer;
}

#infoProject{
  text-align:left;
  color:darkred;
}
